In [1]:
from pyspark.sql import *

In [2]:
import os
import ipyparallel as ipp

cluster = ipp.Cluster(n=4)

    you create a SparkSession with a specific application name, allowing you to leverage the functionality of Spark for processing and analyzing data in a distributed manner

In [3]:
spark = (SparkSession
         .builder
         .master('local[*]')
         .appName("creating_a_new_one")
         .getOrCreate())

23/06/02 15:46:03 WARN Utils: Your hostname, parrot-aspirees114141 resolves to a loopback address: 127.0.1.1, but we couldn't find any external IP address!
23/06/02 15:46:03 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/06/02 15:46:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/06/02 15:46:04 WARN MacAddressUtil: Failed to find a usable hardware address from the network interfaces; using random bytes: 89:50:06:0f:0b:3e:1d:0b

       Overall, the sparkContext object serves as the bridge between the Spark application and the Spark cluster. It enables developers to leverage the distributed computing capabilities of Spark and perform various data processing operations efficiently

    for example Cluster Connection, Job Execution , Data Distribution , Resilience (fault tolerance capabilities),Resource Management

In [4]:
spark.sparkContext

    most we set this what was the loglevel it was default set to warn it ok you but you need to see more these are the options  "OFF" , "FATAL" , "ERROR" ,"WARN" ,"INFO" ,"DEBUG" ,"TRACE" ,"ALL"

In [23]:
spark.sparkContext.setLogLevel("ERROR")

    Reading data into a data frame is done through the DataFrameReader object, which we can access through spark.read   
  'csv',
 'format',
 'jdbc',
 'json',
 'load',
 'option',
 'options',
 'orc',
 'parquet',
 'schema',
 'table',
 'text'

In [6]:
spark.read

dir(spark.read)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_df',
 '_jreader',
 '_set_opts',
 '_spark',
 'csv',
 'format',
 'jdbc',
 'json',
 'load',
 'option',
 'options',
 'orc',
 'parquet',
 'schema',
 'table',
 'text']

In [7]:
book = spark.read.option("header" , "true").format("csv").load("some.csv")

# you can also insert data using
book = spark.read.csv("some.csv")

#spark until to tell to start the process it will not run the porcess

book.show(2 , truncate=10)

+----+----------+----------+----------+----------+----------+----------+----------+-------+----------+
| _c0|       _c1|       _c2|       _c3|       _c4|       _c5|       _c6|       _c7|    _c8|       _c9|
+----+----------+----------+----------+----------+----------+----------+----------+-------+----------+
|Year|Industr...|Industr...|Industr...|     Units|Variabl...|Variabl...|Variabl...|  Value|Industr...|
|2021|   Level 1|     99999|All ind...|Dollars...|       H01|Total i...|Financi...|757,504|ANZSIC0...|
+----+----------+----------+----------+----------+----------+----------+----------+-------+----------+
only showing top 2 rows

In [8]:
#you can view the columns are which datatyeps using printSchema

book.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)

In [9]:
print(book.dtypes)

[('_c0', 'string'), ('_c1', 'string'), ('_c2', 'string'), ('_c3', 'string'), ('_c4', 'string'), ('_c5', 'string'), ('_c6', 'string'), ('_c7', 'string'), ('_c8', 'string'), ('_c9', 'string')]

In [10]:
print(spark.__doc__)

The entry point to programming Spark with the Dataset and DataFrame API.

    A SparkSession can be used create :class:`DataFrame`, register :class:`DataFrame` as
    tables, execute SQL over tables, cache tables, and read parquet files.
    To create a :class:`SparkSession`, use the following builder pattern:

    .. autoattribute:: builder
       :annotation:

    Examples
    --------
    >>> spark = SparkSession.builder \
    ...     .master("local") \
    ...     .appName("Word Count") \
    ...     .config("spark.some.config.option", "some-value") \
    ...     .getOrCreate()

    >>> from datetime import datetime
    >>> from pyspark.sql import Row
    >>> spark = SparkSession(sc)
    >>> allTypes = sc.parallelize([Row(i=1, s="string", d=1.0, l=1,
    ...     b=True, list=[1, 2, 3], dict={"s": 0}, row=Row(a=1),
    ...     time=datetime(2014, 8, 1, 14, 1, 5))])
    >>> df = allTypes.toDF()
    >>> df.createOrReplaceTempView("allTypes")
    >>> spark.sql('select i+1, d+1, not b, list[1], dict["s"], time, row.a '
    ...            'from allTypes where b and i > 0').collect()
    [Row((i + 1)=2, (d + 1)=2.0, (NOT b)=False, list[1]=2,         dict[s]=0, time=datetime.datetime(2014, 8, 1, 14, 1, 5), a=1)]
    >>> df.rdd.map(lambda x: (x.i, x.s, x.d, x.l, x.b, x.time, x.row.a, x.list)).collect()
    [(1, 'string', 1.0, 1, True, datetime.datetime(2014, 8, 1, 14, 1, 5), 1, [1, 2, 3])]

In [11]:
from pyspark.sql.functions import col

#you can select using column using select are col 

book.select(book._c0)


book.select(book["_c0"])

#this approce is more flexbile and usefull
book.select(col("_c0")).show(2 , truncate=10)

+----+
| _c0|
+----+
|Year|
|2021|
+----+
only showing top 2 rows

In [12]:
from pyspark.sql.functions import *

clean = book.select(split(col("_c7"), " "))

#it also changes an array convert to string
clean.printSchema()

#it will by space using comma 
clean.show(5 , truncate=False)

root
 |-- split(_c7,  , -1): array (nullable = true)
 |    |-- element: string (containsNull = false)

+------------------------+
|split(_c7,  , -1)       |
+------------------------+
|[Variable_category]     |
|[Financial, performance]|
|[Financial, performance]|
|[Financial, performance]|
|[Financial, performance]|
+------------------------+
only showing top 5 rows

In [13]:
#WithColumnRenamed are alias used same to do renameing


rename = book.withColumnRenamed("_c7","seventh")

#same as the you can also set with alias



book.select(col('_c6')).alias("sith")

rename.show(2)

+----+--------------------+--------------------+--------------------+------------------+-------------+-------------+--------------------+-------+--------------------+
| _c0|                 _c1|                 _c2|                 _c3|               _c4|          _c5|          _c6|             seventh|    _c8|                 _c9|
+----+--------------------+--------------------+--------------------+------------------+-------------+-------------+--------------------+-------+--------------------+
|Year|Industry_aggregat...|Industry_code_NZSIOC|Industry_name_NZSIOC|             Units|Variable_code|Variable_name|   Variable_category|  Value|Industry_code_ANZ...|
|2021|             Level 1|               99999|      All industries|Dollars (millions)|          H01| Total income|Financial perform...|757,504|ANZSIC06 division...|
+----+--------------------+--------------------+--------------------+------------------+-------------+-------------+--------------------+-------+--------------------+
only showing top 2 rows

In [14]:
#explode fucntions to convert to list


# these got error it was in list formate
words = book.select(explode(col("_c6")).alias("list").show(4))

TypeError: 'Column' object is not callable

In [15]:
#regexp_extract you can do much more of things using this function like convert text to lover
#remove punction are symboles etc

word_clean = book.select(regexp_extract(col("_c6"), "[a-z]+" , 0).alias('lowercase'))

word_clean.show(5)

+---------+
|lowercase|
+---------+
|  ariable|
|     otal|
|     ales|
|  nterest|
|       on|
+---------+
only showing top 5 rows

In [16]:
#filtering fucntion use to filter the row

selected = word_clean.filter(col('lowercase') == "on").count()

print(selected)

2502

In [17]:
#it will show the length of the coloum

selected = book.select(length(col('_c6'))).show(2)

+-----------+
|length(_c6)|
+-----------+
|         13|
|         12|
+-----------+
only showing top 2 rows

In [18]:
# you can also set the greatest values using this key

#you can also use lower case convert the text

greter_than = book.select(greatest(length(col('_c1')) ,length(col('_c6')) ).alias("values"))

greter_than.show()

lower_value = book.select(lower(col('_c1')) .alias("values"))

lower_value.show()

+------+
|values|
+------+
|    27|
|    12|
|    47|
|    33|
|    20|
|    17|
|    22|
|    14|
|    12|
|    23|
|    24|
|    53|
|    38|
|    22|
|    14|
|    14|
|    25|
|    12|
|    14|
|    21|
+------+
only showing top 20 rows

+--------------------+
|              values|
+--------------------+
|industry_aggregat...|
|             level 1|
|             level 1|
|             level 1|
|             level 1|
|             level 1|
|             level 1|
|             level 1|
|             level 1|
|             level 1|
|             level 1|
|             level 1|
|             level 1|
|             level 1|
|             level 1|
|             level 1|
|             level 1|
|             level 1|
|             level 1|
|             level 1|
+--------------------+
only showing top 20 rows

In [19]:
#groupby is function same in sql it group the same simllaer values and print the output

group = book.groupby(col('_c2')).count()
group.show()

+-----+-----+
|  _c2|count|
+-----+-----+
|CC211|  324|
|CC611|  324|
|II131|  297|
| GH21|  324|
| MN21|  297|
|AA141|  270|
|LL112|  306|
|   MN|  297|
| II12|  297|
| CC81|  324|
|   AA|  279|
|CC311|  324|
|QQ113|  270|
|MN213|  297|
| AA12|  270|
| GH12|  324|
|GH135|  324|
|   EE|  297|
| KK13|  225|
|OO213|  279|
+-----+-----+
only showing top 20 rows

In [20]:
#Dataset in ascending or descending order based on one or more columns. I


orderby = book.orderBy("_c0" , ascending=False).show(2)

#ouput it will give the values  sort by you selected column

+----+--------------------+--------------------+--------------------+------------------+-------------+-------------+--------------------+-------+--------------------+
| _c0|                 _c1|                 _c2|                 _c3|               _c4|          _c5|          _c6|                 _c7|    _c8|                 _c9|
+----+--------------------+--------------------+--------------------+------------------+-------------+-------------+--------------------+-------+--------------------+
|Year|Industry_aggregat...|Industry_code_NZSIOC|Industry_name_NZSIOC|             Units|Variable_code|Variable_name|   Variable_category|  Value|Industry_code_ANZ...|
|2021|             Level 1|               99999|      All industries|Dollars (millions)|          H01| Total income|Financial perform...|757,504|ANZSIC06 division...|
+----+--------------------+--------------------+--------------------+------------------+-------------+-------------+--------------------+-------+--------------------+
only showing top 2 rows

In [21]:
example = (book.orderBy("_c1",ascending=True)
           .groupby(length(col("_c7")))
                           .count()
                           .show(5))


book.write.mode("overwrite").parquet("spark")

+-----------+-----+
|length(_c7)|count|
+-----------+-----+
|         16| 8919|
|         17|    1|
|         21|20853|
|         18|11943|
+-----------+-----+

In [22]:
#using the coalesce() you can the practications

col = book.coalesce(1)

col.write.mode("overwrite").parquet("spark")

# Reading text data

In [24]:
#some example of reading data option inferSchema is read datastructer
#sep is spreater file 
#header is heading the file 
#timestampFormat is used to inform to parser of the formate

sample = spark.read.csv([...],
                        sep=[...],
                        header=[...],
                        quote=[...],
                        inferSchema=[...]
                        timestampFormat="yyyy-MM-dd"
)

#it will show all the data
sample.printSchema()

SyntaxError: invalid syntax (3623321995.py, line 11)

In [26]:
#it will selected the column
logs.select("BroadcastLogID", "LogServiceID", "LogDate").show(5, False)

# Using the string to column conversion
logs.select("BroadCastLogID", "LogServiceID", "LogDate")
logs.select(*["BroadCastLogID", "LogServiceID", "LogDate"])
 
# Passing the column object explicitly
logs.select(
    F.col("BroadCastLogID"), F.col("LogServiceID"), F.col("LogDate")
)
logs.select(
    *[F.col("BroadCastLogID"), F.col("LogServiceID"), F.col("LogDate")]
)

NameError: name 'logs' is not defined

In [27]:
#we can also drop the columns using drop function

logs = logs.drop("BroadcastLogID","SequenceNo")

print("BroadcastLogID" in logs.columns)  # => False
print("SequenceNo" in logs.columns)  # => False

NameError: name 'logs' is not defined

In [ ]:
#cast convert to datatypes like int , stringtype ,bollean
#substr select the string are any thing like 1 to 2 
#distinct remove the dublicates 


logs.select(
    F.col("Duration"),
    (
        F.col("Duration").substr(1, 2).cast("int") * 60 * 60
        + F.col("Duration").substr(4, 2).cast("int") * 60
        + F.col("Duration").substr(7, 2).cast("int")
tion_seconds"),
).distinct().show(5)

In [ ]:
#converting the rdd todataframes like toDf
logs.toDF(*[x.lower() for x in logs.columns]).printSchema()

#sorting 
logs.select(sorted(logs.columns)).printSchema()

In [ ]:
# summary() and describe()  is used to statication abrivation mean,mode,std
#min max


#describe to show basic statics 

#summary provides more comprehenisve stastics

for i in logs.columns:
    logs.describe(i).show()
    
for i in logs.columns:
    logs.select(i).summary().show()

# joins 
inner join , left join , right join , outter join ()